
<h2>Movie Details</h2>

<h3>Title: {{movieDetails.title}}</h3>
<h4>Genre: {{movieDetails.genre}}</h4>
<p>Plot: {{movieDetails.plot}}</p>
<p>Cast:</p>

<ul>
{{#each movieDetails.cast}}
  <li>Name: {{this.name}}</li>
  <li>Occupation: {{this.occupation}}</li>
  <li>Catchphrase: {{this.catchPhrase}}</li>
</ul>
{{/each}}

<br><br><br>
<a href="/movies/{{movieDetails._id}}/edit">Edit this Movie</a>
<br><br><br>

<form action="/movies/{{movieDetails._id}}/delete" method="POST"> 
  <button>Delete this movie</button>
</form>

