<h1>All Movies</h1>

{{#each movies}}
<h3>Title: {{this.title}}</h3>
{{/each}}


{{!-- <h1>All Movies</h1>

{{#each movies}}
<h3>Title: {{this.title}}</h3>
<h4>Genre: {{this.genre}}</h4>
<p>Plot: {{this.plot}}</p>
<p>Cast:</p>
<ul>
  {{#each this.cast}}
  <li>{{this.name}} - {{this.occupation}}</li>
  {{/each}}
</ul>
{{/each}} --}}

